<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="${user.dir}/logs" />

    
      
    <!-- 日志记录器，日期滚动记录 -->  
    <appender name="FILEERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_PATH}/log_error.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <!-- 追加方式记录日志 -->  
        <append>true</append>  
        <!-- 日志文件的格式 -->  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>[%p] [%d] %C:%L - %m %n</pattern>  
            <charset>utf-8</charset>  
        </encoder>  
        <!-- 此日志文件只记录error级别的 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>error</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
      
    <appender name="FILEWARN" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_PATH}/log_warn.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/log-warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <append>true</append>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>[%p] [%d] %C:%L - %m %n</pattern>  
            <charset>utf-8</charset>  
        </encoder>  
        <!-- 此日志文件只记录warn级别，不记录大于warn级别的日志 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>WARN</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
      
    <appender name="FILEINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOG_PATH}/log_info.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/log-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <append>true</append>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>[%p] [%d] %C:%L - %m %n</pattern>  
            <charset>utf-8</charset>  
        </encoder>  
        
        <!-- 此日志文件只记录info级别，不记录大于info级别的日志 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
      
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
        <Target>System.out</Target>  
        <encoder>  
            <pattern>[%p] [%d] %C:%L - %m %n</pattern>  
            <charset>utf-8</charset>  
        </encoder>  
        <!-- 此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>info</level>  
        </filter>  
    </appender>  
        
    <!-- 生产环境，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->  
    <root level="INFO">  
       	<appender-ref ref="stdout" /> 
        <appender-ref ref="FILEINFO" />  
        <appender-ref ref="FILEWARN" />  
        <appender-ref ref="FILEERROR" />  
    </root>  
    
</configuration> 